[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-moment = "*"
flask-wtf = "*"
flask-bootstrap = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
flask-login = "*"
email-validator = "*"
flask-markdown = "*"
markdown = "*"
bleach = "*"
flask-pagedown = "*"
flask-httpauth = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
faker = "*"
pylint-flask = "*"
pytest = "*"
selenium = "*"
coverage = "*"
httpie = "*"

[requires]
python_version = "3.8"
